.chatroom {
    display: grid;
    grid-template-rows: 1fr auto;
    overflow: hidden;
    height: 100%;
    gap: 1rem;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.msgboxSelf, .msgboxOther {
    width: fit-content;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 10px;
}

.msgboxSelf {
    background-color: var(--accent);
    align-self: flex-end;
    text-align: right;
}

.msgboxOther {
    background-color: var(--bg-secondary);
    text-align: left;
}

.msgUsername {
    font-weight: bold;
    color: #F97316;
}

.msgText {
    font-size: 1.1rem;
}

.msgTime {
    font-size: 0.8rem;
    color: var(--light-grey);
}

.inputContainer {
    display: flex;
    width: 100%;
}

.inputContainer input {
    width: 100%;
    font-size: 1.1rem;
    font-size: inherit;
    padding: 0.75rem;
    color: inherit;
    background-color: var(--bg-secondary);
}

.button {
    font-size: 1.7rem;
    color: inherit;
    background-color: transparent;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background-color: inherit;
}